

@media screen and (min-width: 320px){
    .container{
        max-width: 428px;
    }
    .advantages-points-item{max-width: 396px;}
    .footer-input {
      max-width: 398px;
  }
    .modal {
      min-width: 392px;
  }
    
}

/*------------------------TAB-----------------------*/

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }
/*------------HEADER--------------*/
.header{
  padding: 16px;
}
.header-container{
  align-items: center;
}
.mob-menu {
  display: none;
}
.header-menu{
    display: flex;
    gap: 40px;
  
  }
  .header-navigation{
    display: flex;
    text-align: center;
    margin-right: auto;
  }
  .header-menu-link{
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.open-mob-menu{
  display: none;
}
  
.header-tel{
    display: flex;
    gap: 40px;
   
  }
  
.header-address{font-style: normal;}
.header-tel{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

    .current{
      color: var(--ocean);
      position: relative;
    }
    
    .current::after{
      position: absolute;
      left: 0;
      bottom: -1px;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--ocean);
    }
    
    .header-menu-link:is(:hover, :focus) {
        color: var(--ocean);
      }
    
.header-tel-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.header-tel-item {
    
}


.header-tel-link:is(:hover, :focus) {
    color: var(--ocean);
  }

  .header-logo{margin-right: 76px;}

    /*---HERO---*/
    .hero-title{
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}
.hero-section{background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/hero-tab.jpg);}
        
@media(min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx)
    {.hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/hero-tab-2x.jpg);}
 }

    /*---ADVANTAGES--*/
    .advantages-points-item{
        max-width: unset;
        width: calc((100% - 32px) / 2);
    
    }

    .advantages-points {
        gap: 72px 24px;
    }
    .advantages-subtitle
    {text-align: left;}
    
    


 /*-----OUR TEAM-----*/
 .team-section{
    padding: 120px 0;
 }
.tab-container{
    max-width: 584px;
}


    .team-person {
  display: flex; 


gap: 64px 24px;
}
.team-person-photo{
    width: calc((100% - 24px) / 2);
    }
    .team-img{width: 100%;
        height: auto;}
/*--------CUSTOMERS---------*/
.custom-container{
    max-width: 768px;
}
.customers-list{
    gap: 72px 24px;
}
.customers-examples{
    width: calc((100% - 24px) / 4);
}

/*---------FOOTER-------*/
.footer-content{ flex-direction: row;
  align-items: baseline;
  gap: 72px 24px;}

.footer-logo{display: inline-block;}

.footer-form{display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: center;}

  .footer-input{ width: 264px;}
  .footer-socialm-text{ justify-content: start;}
   .footer-input-text{justify-content: start;
  margin-top: 0;}  
  .footer-text{
    margin-bottom: 0;
  }

  /*-------MODAL------*/

}

/*------------------------LAPTOP--------------------*/

@media screen and (min-width: 1158px){
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
/*------------HEADER--------------*/

.header {
 
}
.header-menu{
    display: flex;
    gap: 40px;
  
  }

  .header-tel{
    display: flex;
    gap: 40px;
    flex-direction: row;
   
  }

  
  
.header-tel-link{font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;}

.header-menu-link{
    display: block;
      font-weight: 500;
      font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding:24px 0;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .current{
      color: var(--ocean);
      position: relative;
    }
    
    .current::after{
      position: absolute;
      left: 0;
      bottom: -1px;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--ocean);
    }
    
    .header-menu-link:is(:hover, :focus) {
        color: var(--ocean);
      }
      
.header-tel-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.header-tel-item {
    
}


.header-tel-link:is(:hover, :focus) {
    color: var(--ocean);
  }
.header-logo{
    margin-right: 76px;
}

    /*----------SECTION HERO---------*/
    .hero-section {
        max-width: 1440px; 
        padding-top: 188px; 
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/hero.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero-section{background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) ,url(../images/hero-2x.jpg);
        }
    }
        .hero-title {
          font-size: 56px;
          line-height: 1.07;
          margin: 0 auto;
          letter-spacing: 0.02em;
          max-width: 496px;
          margin-bottom: 48px;
          margin-left: auto;
          margin-right: auto;
          
          }

          /*----ADVANTAGES----*/
    .advantages-section{
        padding: 120 0px;
    }
    .advantages-points-item{
        
        max-width: unset;
        width: calc((100% - 72px) / 4);
    }
    
    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
       
    
    }
    .advantages-points{
        gap: 24px;
    }
    .advantages-points-fon{
        display: flex;
        
        height: 112px;
        align-items: center;
        justify-content: center;
        
        background-color: var(--cloud);
        border-radius: 4px;
      margin-bottom: 8px;
      }
      .advantages-text{
        font-weight: 400;
}

/*---------------EXAMPLES PHOTO------------*/
.examples {display: block;
}
.examples-title {
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 72px;
text-align: center;
}


.examples-item {
  display: flex;
  gap: 24px;
 
}
.examples-item-photo {
width: calc((100% - 48px) / 3);
  
}

/*-----OUR TEAM-----*/
 .team-section{
    padding: 120px 0;
 }
 .team-title{
    font-weight: 700;
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

 }
   .team-person {
  display: flex; 
  gap: 24px;
flex-wrap: nowrap;
}
.team-person-photo{
    width: calc((100% - 72px) / 4);
}

/*--------CUSTOMERS---------*/
.customers{
    padding: 120px 0;
  }
  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-examples{
    width: calc((100% - 120px) / 6);
  }

/*----------FOOTER---------*/
.footer {
  background-color: var(--navy-blue);
  padding: 101.5px 0 100px;
}


.footer-content{
  align-items: baseline;
  margin-right: 120px;
flex-wrap: nowrap;
gap: unset;}

.footer-text{
  max-width: 264px;
}
.first-part{margin-right: 120px;
  margin-bottom: 0;
text-align: left;}
.footer-socialm{
  margin-right: 80px;
}

.footer-socialm{
 
  
}

.footer-text{max-width: 264px;}
.footer-socialm-link{}

.footer-socialm-list{ display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;}

      .footer-subscribe {
      padding-left: 80px;
      }
.footer-form { display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }
.footer-input {
      width: 264px;
    padding-left: 16px; 

    }

/*--------MODAL------*/
.modal{width: 408px;}
}