
/*-------------SECTION ADVANTAGES-----------*/
@media screen and (min-width: 320px){
    .container{
        max-width: 428px;
    }
    .advantages-points-item{max-width: 396px;}
}

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }
    .advantages-points-item{
        max-width: unset;
        width: calc((100% - 72px) / 2);
    
    }

    .advantages-subtitle
    {text-align: left;}
    
    .hero-section {
}
        
    
    
}

@media screen and (min-width: 1158px){
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .advantages-section{
        padding: 120 0px;
    }
    .advantages-points-item{
        
        max-width: unset;
        width: calc((100% - 72px) / 4);
    }
    
    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    
    }
    .advantages-points{
        gap: 24px;
    }
    .advantages-points-fon{
        display: flex;
        
        height: 112px;
        align-items: center;
        justify-content: center;
        
        background-color: var(--cloud);
        border-radius: 4px;
      margin-bottom: 8px;
      }

    /*----------SECTION HERO---------*/
    .hero-section {
        max-width: 1440px; 
        padding-top: 188px; 
        padding-bottom: 188px;}
        .hero-title {
          font-size: 56px;
          line-height: 1.07;
          margin: 0 auto;
          letter-spacing: 0.02em;
          max-width: 496px;
          margin-bottom: 48px;
          margin-left: auto;
          margin-right: auto;
          
          }
}


